// global styles

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $black;

    font-family: $font;
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    text-transform: lowercase;
    letter-spacing: 2px;
}

.wrapper {
    width: 85%;
    max-width: 1020px;
    margin: 0 auto;
}

section {
    padding: 25px 0;
}

// logo stuffs
.emphasis {
    font-style: italic;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

// highlights
.highlight-r {
    background-image: url('./assets/highlight-red.png');
}

.highlight-o {
    background-image: url('./assets/highlight-orange.png');
}

.highlight-y {
    background-image: url('./assets/highlight-yellow.png');
}

.highlight-g {
    background-image: url('./assets/highlight-green.png');
}

.highlight-b {
    background-image: url('./assets/highlight-blue.png');
}

.highlight {
    font-style: normal;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: 50%;
    padding: 5px;
}

// button styles
.square-btn {
    text-align: center;

    border: .5px solid $black;

    padding: 15px 20px;
    margin: 20px 0;
    width: clamp(180px, 3vw, 240px);

    transition: .3s all;

    &:hover,
    &:focus {
        color: #c5bebe;
    }
}

