// landing page styles

.cs-header {
    height: 100vh;
    position: relative;

    .cs-header-img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -10;
    }
}

h1 {
    @include custom-h1(clamp(4rem, 4.5vw, 8rem));
    padding-bottom: 10px;
}

.logo {
    text-align: center;

    height: 10vh;
    padding-top: 40px;

    img {
        width: 250px;
    }
}

.cs-header-text {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        width: 60%;
        padding-bottom: 20px;
    }
}

.socials {
    color: $background;
    align-self: flex-end;
    position: relative;
    bottom: -130px;
    display: flex;
    justify-content: center;

    a {
        padding: 5px;
        margin: 0 5px;
    }
}

@media (max-width: 1090px) {
    .cs-header {
        height: 60vh;
    }

    .cs-header-text {
        height: 50vh;
    }

    .socials {
        position: static;
        align-self: flex-start;
        color: $black;
    }
}

@media (max-width: 480px) {

    .cs-header-text {

        p {
            width: 100%;
        }

        .square-btn {
            display: none;
        }
    }
}

.join {
    border-top: .5px solid $black;
    border-bottom: .5px solid $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-text {
    padding: 15px 0;
    width: 60%;

    h2 {
        @include custom-h2(clamp(2.5rem, 3vw, 3.5rem));
        padding-bottom: 10px;
    }
}

.join-btn {
    width: 40%;
    text-align: right;

    a {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .join {
        flex-direction: column;
        align-items: flex-start;
    }

    .join-text,
    .join-btn {
        width: 100%;
    }

    .join-btn {
        text-align: left;
        margin: 20px 0;
    }
}

.message {
    padding: 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
        @include custom-h2(clamp(2.5rem, 3vw, 3.5rem));
        width: 40%;
    }

    p {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .message {
        flex-direction: column;

        h2,
        p {
            width: 100%;
        }

        h2 {
            padding-bottom: 20px;
        }
    }
}

.cs-footer img {
   position: relative;
   bottom: -10px;
   right: 0;
   left: 0;
}   