// declaring varaiables
// colors
$background: #F9F5F2;
$red: #F85F5F;
$orange: #EE9862;
$yellow: #FFCF66;
$green: #89B692;
$blue: #79ACD1;

// fonts
$font: #4E4F4F;


// importing partials
@import 'setup';